.root {
  ---brading-color: #272142;
}
.cover {
  background-color: #bdaaec;
  text-align: center;
  padding: 160px 20px;
}
.cover h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}
.cover h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: var(---brading-color);
}
.cover h4 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: var(---brading-color);
  padding: 36px;
}
.who-iam {
  padding: 160px 20px;
}
h2 {
  font-size: 64px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
h6 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}
h3 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: bold;
}
.cover .btn {
  background: #1a1a1b;
  border-radius: 4px;
  border-color: #1a1a1b;
  color: white;
  line-height: 10px;
  font-size: 18px;
  padding: 18px 30px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.btn-secondary {
  background: #fdfdff;
  border-radius: 4px;
  border-color: #6c63ff;
  color: #6c63ff;
  line-height: 1.5px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding: 18px 30px;
  text-align: center;
}
.btn-primary {
  background-color: #bdaaec;
  border-color: #bdaaec;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  line-height: 27px;
  width: 200px;
  height: 63px;
  padding: 18px 30px;
  text-align: center;
}
.btn:hover {
  background-color: #cbc4dc;
  border-color: #cbc4dc;
  color: #d44bea;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}
.imagen {
  background-color: black;
}
.hire-me {
  background-color: #f9f7fe;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 103px;
  padding: 30px;
}
.who-iam {
  margin-left: 140px;
  margin-right: 140px;
}
